@font-face{
font-family: "ProximaNovaCondReg";
src: url("chartfont/ProximaNovaCondReg.otf")
}
@font-face{
font-family: "ProximaNovaCondBold";
src: url("chartfont/ProximaNovaCondBold.otf")
}
@font-face{
font-family: "ProximaNovaCondSBold";
src: url("chartfont/ProximaNovaCondSbold.otf")
}

body{font-family: "ProximaNovaCondReg","Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;}

text {font-size: 10px;fill: rgb(89,89,89);}
rect:hover{fill: white;}
svg{position: absolute;background: rgb(245,245,245);}
li {margin: 0 0 2px 0;}

#intro {
    position:absolute;
    background-color: rgb(54,72,106);
    left: 355px;
    top: 0px;
    height: 42px;
    width: 281px;
}

#introtext {
    font-family: "ProximaNovaCondSbold","Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin       Gothic", Arial, sans-serif;
    position:relative;
    top: 5px;
    left: 4px;
    font-size: 33px;
    color: rgb(255,255,255);
}

input {
    font-family: "ProximaNovaCondBold","Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 21px;
    border:rgb(120,120,120) solid 1px;
    width: 183px;
    height: 24px;
}

button{position:absolute;top: 3px;left: 205px;}

.axis path,
.axis line {fill: none;stroke: rgb(89,89,89);shape-rendering: crispEdges;}
	
#calculator{
    font-family: "ProximaNovaCondReg","Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    position:absolute;
    left: 371px;
    top: 65px;
    font-size: 18px;
    color: rgb(30,30,30);
}

#title {font-family: "ProximaNovaCondBold","Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;font-size: 23px;}


#nflsvg{top: 0px;left: 0px;}
#nbasvg{top: 0px;left: 180px;}
#mlbsvg{top: 180px;left: 180px;}
#nhlsvg{top: 180px;left: 0px;}

#nflsvg #title{fill: rgb(245,94,80);}
#nbasvg #title{fill: rgb(82,167,220);}
#mlbsvg #title{fill: rgb(96,185,101);}
#nhlsvg #title{fill: rgb(178,123,179);}

#nflpercent, #nbapercent, #mlbpercent, #nhlpercent{
    color: rgb(255,90,0);
    font-family: "ProximaNovaCondBold";
}